cookies.txt  
www.youtube.com_cookies.txt
temp_downloads/
# Секреты
.env

# Виртуальное окружение
.venv/
env/
venv/
ENV/

# Настройки IDE
.idea/
.vscode/
*.swp

# Кэш Python
__pycache__/
*.py[cod]

# Результаты сборки образов (если сохраняли архивы)
*.tar
