name: worker_app_bot

services:
  bot:
    container_name: worker_app_bot
    build: .
    command: python SiteSender.py
    restart: always
    ports:
      - "5000:5000"
    tmpfs:
      - /tmp
        #cap_drop:
        #- ALL
    environment:
      - DB_NAME=bot_db
      - DB_USER=admin
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_HOST={{ groups['masters'] | map('extract', hostvars, 'ansible_host') | first }}
      - DB_PORT=5432
      - BOT_TOKEN=${BOT_TOKEN}
      - MY_NODE_NAME=${MY_NODE_NAME}
      - YTDLP_JS_RUNTIME=node
#   volumes:      #убрать после отработки
#      - .:/code

